// 常用字体
.G-Fsize-0 {
  font-size: 0px !important;
}

.G-Fsize-8 {
  font-size: 8px !important;
}

.G-Fsize-9 {
  font-size: 9px !important;
}

.G-Fsize-10 {
  font-size: 10px !important;
}

.G-Fsize-11 {
  font-size: 11px !important;
}

.G-Fsize-12 {
  font-size: 12px !important;
}

.G-Fsize-13 {
  font-size: 13px !important;
}

.G-Fsize-14 {
  font-size: 14px !important;
}

.G-Fsize-15 {
  font-size: 15px !important;
}

.G-Fsize-16 {
  font-size: 16px !important;
}

.G-Fsize-17 {
  font-size: 17px !important;
}

.G-Fsize-18 {
  font-size: 18px !important;
}

.G-Fsize-20 {
  font-size: 20px !important;
}

.G-Fsize-22 {
  font-size: 22px !important;
}

.G-Fsize-24 {
  font-size: 24px !important;
}
.G-Fsize-32 {
  font-size: 32px !important;
}
.G-Fsize-34 {
  font-size: 32px !important;
}
.G-Fsize-48 {
  font-size: 48px !important;
}
// 常用样式
// 常用颜色
.G-color-333 {
  color: #333;
}
.G-color-2B2B30 {
  color: #2B2B30;
}
.G-color-444 {
  color: #444;
}
.G-color-b4 {
  color: #b4b4b4;
}
.G-color-555 {
  color: #555;
}
.G-color-e6 {
  color: #e6e6e6;
}

.G-color-666 {
  color: #666;
}

.G-color-717376 {
  color: #717376;
}

.G-color-508EFF {
  color: #508EFF;
}

.G-color-35 {
  color: #353535;
}

.G-color-E3E4E5 {
  color: #E3E4E5;
}

.G-color-adc9f5 {
  color: #ADC9F5;
}

.G-color-6299F0 {
  color: #6299F0;
}

.G-color-000 {
  color: #000;
}

.G-color-a0 {
  color: #A0A0A0;
}
.G-color-455873 {
  color: #455873;
}
.G-color-999 {
  color: #999;
}

.G-color-white {
  color: #fff !important;
}

.G-color-ffa509 {
  color: #FFA509;
}
.G-color-8492A6 {
  color: #8492A6;
}
.G-color-1E3240 {
  color: #1E3240;
}
.G-color-347BFC {
  color: #347BFC;
}
.G-color-ffa609 {
  color: #FFA609;
}
.G-color-1D2383 {
  color: #1D2383;
}
.G-color-888 {
  color: #888;
}

.G-color-ff5000 {
  color: #FF5000;
}

.G-color-ff9e3d {
  color: #FF9E3D;
}

.G-color-1800 {
  color: #180000;
}

.G-color-be {
  color: #bebebe;
}
.G-color-2172F6{
  color: #2172F6;
}
// 行高
.G-lht-20{
  line-height: 20px;
}

// 常用间距
.G-Mt-2 {
  margin-top: 2px;
}
.G-Mb-0 {
  margin-bottom: 0px!important;
}
.G-Mt-5 {
  margin-top: 5px;
}

.G-Mt-8 {
  margin-top: 8px!important;
}

.G-Mt-10 {
  margin-top: 10px;
}

.G-Mt-12 {
  margin-top: 12px!important;
}

.G-Mt-15 {
  margin-top: 15px;
}

.G-Mt-20 {
  margin-top: 20px;
}
.G-Mt-25 {
  margin-top: 25px;
}

.G-Mr-5 {
  margin-right: 5px;
}
.G-Mr-8 {
  margin-right: 8px;
}
.G-Mr-10 {
  margin-right: 10px;
}
.G-Mr-13 {
  margin-right: 13px;
}
.G-Mr-15 {
  margin-right: 15px;
}
.G-Mr-20 {
  margin-right: 20px;
}
.G-Mr-25 {
  margin-right: 25px;
}
.G-Mb-5 {
  margin-bottom: 5px;
}
.G-Mb-8 {
  margin-bottom: 8px;
}
.G-Mb-10 {
  margin-bottom: 10px;
}

.G-Mb-15 {
  margin-bottom: 15px;
}

.G-Ml-5 {
  margin-left: 5px;
}

.G-Ml-10 {
  margin-left: 10px;
}

.G-Ml-15 {
  margin-left: 15px;
}
.G-Ml-20 {
  margin-left: 20px;
}
.G-Ml-25 {
  margin-left: 25px;
}
.G-Ml-30 {
  margin-left: 30px;
}
.G-Ml-25 {
  margin-left: 25px;
}
.G-Pt-15 {
  padding-top: 15px;
}

.G-Pl-15 {
  padding-left: 15px;
}

.G-Pb-10 {
  padding-bottom: 10px;
}

.G-Pt-20 {
  padding-top: 20px;
}

// 常用背景颜色
.G-bg-888 {
  background-color: #888;
}

.G-bg-999 {
  background-color: #999;
}

.G-bg-white {
  background-color: #fff;
}

.G-bg-f6 {
  background-color: #f6f6f6;
}

.G-bg-ccc {
  background-color: #ccc !important;
}

.G-bg-f7f8f9 {
  background-color: #f7f8f9;
}

.G-bg-f7f8fa {
  background-color: #f7f8fa;
}

.G-d-b{
  display: block;
}
.G-text-center{
  text-align: center;
}
// 通用样式
.G-bold{
  font-weight: bold;
}
.G-one-cloum {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.G-col-2 {
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}
.G-col-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.G-col-4 {
	-webkit-line-clamp: 4;
	word-break: break-all;
}
.G-cursor{
  cursor: pointer;
}
.van-nav-bar{
  width: 10rem;
  margin: 0 auto;
}
.van-nav-bar .van-icon{
  color: #666!important;
}